@import "./main.css";
@import "./media-queries.css";
.grid-container-blog {
    /* mobile view grid */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr .2fr 2fr 0.2fr;
    gap: 1px 1px;
    grid-template-areas: "header" "info" "footer";
    padding-bottom: 2.5rem;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "post1 post2 post3" "post4 post5 post6";
    grid-area: info;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    padding: 2px 16px;
    text-align: center;
}

.header {
    /* header div */
    grid-area: header;
    text-align: center;
}

.nav {
    grid-area: nav;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    align-items: center;
}


/* 
.nav {
    grid-area: nav;
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    text-align: flex-start;
    text-decoration: none;
    list-style: none;
    padding: 5px;
    text-align: left;
} */

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "post1 post2 post3" "post4 post5 post6";
    grid-area: info;
}

.footer {
    grid-area: footer;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.post1 {
    grid-area: post1;
    text-align: center;
}

.post2 {
    grid-area: post2;
    text-align: center;
}

.post3 {
    grid-area: post3;
    text-align: center;
}

.post4 {
    grid-area: post4;
    text-align: center;
}

.post5 {
    grid-area: post5;
    text-align: center;
}

.post6 {
    grid-area: post6;
    text-align: center;
}

@media (max-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: 0.8fr 2fr 2fr 2fr;
        grid-template-rows: 0.3fr .3fr 3fr 0.3fr;
        gap: 1px 1px;
        grid-template-areas: "header header header header" "nav nav nav nav" "info info info info" "footer footer footer footer";
    }
    .content {
        grid-area: content;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    .nav {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .grid-container {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-template-rows: 0.3fr .3fr 3fr 0.3fr;
        gap: 1px 1px;
        grid-template-areas: "header header header header" "nav nav nav nav" "info info info info" "footer footer footer footer";
    }
}