/* media query import */

@import url("/css/query.css");

/* font import */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* social media icons import */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.fa {
    padding: 10px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


/* end social media icons */


/* background image div for opacity control */

#background-image {
    background-image: url("/img/bkg.jpg");
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.2;
    position: fixed;
    background-repeat: repeat-y;
    background-size: 100% auto;
    padding: 0;
    margin: 0;
    z-index: -1;
}

h1 {
    text-align: center;
    color: rgb(133, 133, 0);
    -webkit-text-stroke: 1px black;
    font-family: 'Gloria Hallelujah', cursive;
}

h2 {
    text-align: center;
    text-transform: capitalize;
}

h4 {
    color: blue;
    font-size: larger;
}

p {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

ul,
li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-transform: uppercase;
}

blockquote {
    right: 10px;
    border-left: 5px solid rgb(0, 0, 0);
    padding-left: 10px;
    font-size: 18px;
    text-align: left;
    color: black;
}

.footer-text {
    text-align: center;
    font-size: larger;
}

.avatar-image img {
    height: 150px;
    width: 150px;
}


/* navbar buttons */

button {
    border-radius: 15%;
    background-color: greenyellow;
    font-size: large;
}


/* image caption formatting */

figure {
    /* border: 1px #cccccc solid; */
    padding: 5px;
    margin: 5px;
    text-align: center;
}

figcaption {
    background-color: red;
    color: white;
    font-style: italic;
    padding: 1px;
    text-align: center;
    font-size: 10px;
}

figure img {
    height: 100px;
    width: 100px;
}


/* end image caption formatting */


/* card buttons */

.card-btn {
    background-color: greenyellow;
    border-radius: 5%;
    font-size: small;
}

.training-pic {
    height: 250px;
    width: 100%;
    text-align: center;
    border: 2px solid red;
}

.training-pic {
    height: 250px;
    width: 100%;
    text-align: center;
    border: 2px solid red;
}

.nav {
    grid-area: nav;
}

.container {
    min-width: 0;
    min-height: 0;
}

.avatar {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}

.card {
    /* div border for testing -- commented out on purpose */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    text-align: left;
    padding: 10px;
}

.header {
    grid-area: header;
    text-align: center;
}

.content {
    grid-area: content;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
}


/* !!the code above breaks the layout!! */

.footer {
    grid-area: footer;
    text-align: center;
    margin: 10px;
    color: blueviolet;
}

.royalty {
    margin-top: 10px;
    bottom: 0;
    right: 0;
}