@import url("/css/query.css");

/* media query import */


/* social media icons import */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.fa {
    padding: 10px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


/* end social media icons */


/* image caption formatting */

figure {
    border: 1px #cccccc solid;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

figcaption {
    background-color: red;
    color: white;
    font-style: italic;
    padding: 1px;
    text-align: center;
    font-size: 10px;
}

figure img {
    height: 100px;
    width: 100px;
}


/* end image caption formatting */

#background-image {
    background-image: url("/img/bkg.jpg");
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.2;
    position: fixed;
    background-repeat: repeat-y;
    background-size: 100% auto;
    padding: 0;
    margin: 0;
    z-index: -1;
}

h1 {
    text-align: center;
    color: blue;
    -webkit-text-stroke: 2px greenyellow;
}

h4 {
    color: blue;
    font-size: larger;
}

a {
    text-decoration: none;
    color: black;
}

blockquote {
    right: 10px;
    border-left: 5px solid rgb(0, 0, 0);
    padding-left: 10px;
    font-size: 1.3rem;
    text-align: left;
    color: black;
}


/* p {
    text-align: left;
} */

.footer-text {
    text-align: center;
    font-size: larger;
}

a:hover {
    color: blue;
}

button {
    border-radius: 15%;
    background-color: greenyellow;
    font-size: large;
}

.card-btn {
    background-color: chocolate;
    border-radius: 5%;
    font-size: small;
}

ul,
li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.container {
    /* overflow: hidden; */
    min-width: 0;
    min-height: 0;
}

.card {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    text-align: left;
    padding: 10px;
}

.header {
    grid-area: header;
    text-align: center;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    text-align: center;
    margin: 10px;
    color: blueviolet;
}

.royalty {
    margin-top: 10px;
    bottom: 0;
    right: 0;
}