.grid-container-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 2.5fr 0.2fr;
    gap: 2px 2px;
    grid-template-areas: "header" "content" "footer";
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}